/* Customs */
:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuentesParrafos: 'Open Sans', sans-serif;

    --blanco: #F2F6F5;
    --azulClaro: #1770D5;
    --azulOscuro: #163460;
    --verde: #35C83E;
    --oscuro: #171919;
    --gris: #9c9494;
}
/* Estilo general */
html{
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: var(--fuentesParrafos-);
    font-size: 1.6rem;
    line-height: 2;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Globales */
.contenedor{
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 3rem;
}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Estilo del encabezado */
.header {  /*POR HACER*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    width: 100vw; /* Ancho total de la pantalla */
    height: auto; /* Ajustar la altura según contenido */
    padding: 1rem; /* Eliminar relleno interno si hay */
    margin: 0; /* Evitar separación con otros elementos */
}

header .logo {
    height: 15rem; /* Aumentar el tamaño del logo */
    margin-right: 2rem;
    border-radius: 60%; /* Mantener el logo circular */
    border: 4px solid #1770D5; /* Borde azul de la paleta */
    background-color: #F2F6F5; /* Fondo claro para resaltar */
    padding: 1rem; /* Espaciado interno para mejor visibilidad */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

header h1 {
    font-size: 2.4rem;
    margin: 0;
}

/* Estilo del formulario */
.formulario{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    
}
.datos_generales, .datos_avcc, .otros_datos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.datos_rx, .buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}
.buttons{
    padding: 1rem 0;
}

input, select, textarea {
    padding: 10px;
    border: 2px solid #9C9494;
    border-radius: 1rem;
    width: 100%; /* Asegurar que el campo ocupe todo el ancho disponible */
    max-width: 100%; /* Evitar que el campo crezca más allá del contenedor */
    font-size: 1.4rem;
    background-color: var(--blanco);
    transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #1770D5;
    outline: none;
    background-color: #FFFFFF;
}

textarea {
    resize: none;
}

/* Estilo de botones */
button {
    padding: 10px;
    background-color: var(--azulClaro); /* Color principal de la paleta */
    color: var(--blanco);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}
label{
    color: var(--gris);
    font-size: 1.5rem;
    font-weight: 700;
}

button:hover {
    background-color: var(--azulOscuro); /* Color más oscuro para hover */
}

button#btnBuscar {
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
    background-color: var(--verde); /* Verde de la paleta */
    color: white;
    border-radius: 5px;
}

button#btnBuscar:hover {
    background-color: #1770D5; /* Azul para hover */
}

button#btnLimpiar {
    background-color: #FFC107; /* Amarillo */
    color: #171919;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#btnLimpiar:hover {
    background-color: #E0CA00; /* Amarillo más oscuro */
}

button#btnEliminar {
    background-color: #DC3545; /* Rojo */
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#btnEliminar:hover {
    background-color: #A71D2A; /* Rojo más oscuro */
}
